# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: None
.idea
kde-linux_*.iso
appium_artifact*
.env
openqa-sysext.img
OVMF_VARS.4m.fd
*.pyc

# Generated at build by worker.sh.
# Copied from top level ./lib.
/extensions/openqa/usr/lib/kde-linux-openqa/lib/*.py
# Generated for updates from a staging channel.
/extensions/openqa/usr/lib/sysupdate.d/*.transfer.d
/extensions/openqa/usr/lib/systemd/
